@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: TitlingGothicFBExtThin;
  src: url(/fonts/TitlingGothicFBExtThin.otf) format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: TitlingGothicFBExtLight;
  src: url(/fonts/TitlingGothicFBExtLight.otf) format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: TitlingGothicFBExtReg;
  src: url(/fonts/TitlingGothicFBExtReg.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: TitlingGothicFBExtStand;
  src: url(/fonts/TitlingGothicFBExtStand.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: TitlingGothicFBExtMed;
  src: url(/fonts/TitlingGothicFBExtMed.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: TitlingGothicFBExtBold;
  src: url(/fonts/TitlingGothicFBExtBold.otf) format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: TitlingGothicFBExtBlack;
  src: url(/fonts/TitlingGothicFBExtBlack.otf) format('opentype');
  font-weight: 700 800 900;
}

@font-face {
  font-family: Turnpike;
  src: url(/fonts/turnpike.ttf) format('truetype');
}

@font-face {
  font-family: Urban-Starblues;
  src: url(/fonts/Urban-Starblues.ttf) format('truetype');
}

@font-face {
  font-family: VHS;
  src: url(/fonts/VCR-OSD-VHS.ttf) format('truetype');
}

@layer base {
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  html {
    background-color: #181818;
  }

  html,
  body,
  #__next {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Turnpike';
  }

  /* #sb_1 {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
  } */
  /* #sb_1::-webkit-scrollbar {
    width: 0;
    height: 0;
  } */
  /* canvas ~ div::-webkit-scrollbar {
    width: 0;
    height: 0;
  } */
}
