@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SofiaPro;
  src: url(/fonts/SofiaPro.otf) format('opentype');
  font-weight: 100 200 300 400 500 600 700 800 900;
}

@font-face {
  font-family: SofiaProLight;
  src: url(/fonts/SofiaPro-Light.otf) format('opentype');
  font-weight: 100 200 300 400 500 600 700 800 900;
}

@font-face {
  font-family: Druk;
  src: url(/fonts/Druk-WideMedium.otf) format('opentype');
  font-weight: 100 200 300 400 500 600 700 800 900;
}

@font-face {
  font-family: TitlingGothicFBExtThin;
  src: url(/fonts/TitlingGothicFBExtThin.otf) format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: TitlingGothicFBExtLight;
  src: url(/fonts/TitlingGothicFBExtLight.otf) format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: TitlingGothicFBExtReg;
  src: url(/fonts/TitlingGothicFBExtReg.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: TitlingGothicFBExtStand;
  src: url(/fonts/TitlingGothicFBExtStand.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: TitlingGothicFBExtMed;
  src: url(/fonts/TitlingGothicFBExtMed.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: TitlingGothicFBExtBold;
  src: url(/fonts/TitlingGothicFBExtBold.otf) format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: TitlingGothicFBExtBlack;
  src: url(/fonts/TitlingGothicFBExtBlack.otf) format('opentype');
  font-weight: 700 800 900;
}

@font-face {
  font-family: Turnpike;
  src: url(/fonts/turnpike.ttf) format('truetype');
}

@font-face {
  font-family: Urban-Starblues;
  src: url(/fonts/Urban-Starblues.ttf) format('truetype');
}

@font-face {
  font-family: VHS;
  src: url(/fonts/VCR-OSD-VHS.ttf) format('truetype');
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    @apply bg-[#0c0c0c] bg-noise-full;
  }

  html,
  body,
  #__next {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Turnpike';
  }

  .bg-noise-half {
    @apply bg-noise bg-[length:100px] bg-[0px_0px] bg-repeat;
  }

  .bg-noise-full {
    @apply bg-noise bg-[length:150px] bg-[0px_0px] bg-repeat;
  }

  .bg-noise-double {
    @apply bg-noise bg-[length:200px] bg-[0px_0px] bg-repeat;
  }

  #sb {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  #sb::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .oflow::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .hollow {
    color: transparent;
    stroke-width: 1px;
    -webkit-text-stroke-width: 1px;
  }

  .gradient {
    background: linear-gradient(268.74deg, #ff1879 4.37%, #8b57f9 31.6%, #91ffd1 61.36%, #fff500 101.2%);
    stroke-width: 0;
    background-clip: text;
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
